
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');



.flexcont {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

#temp{
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 3vw;
    text-shadow: 2px 2px black;
    opacity: 0.8;
    color : white;
    font-weight: 400;
    margin-bottom: 0;
    

    
    

}
.exp{
    font-size: 2vw;
    
    text-align: center;
    margin: 1%;
    color : white;
    opacity: 0.9;
    font-family: 'Anek Malayalam', sans-serif;
    
    font-weight: 200;
    text-shadow: 3px 3px black;


    
    
    
}
#time{
    font-size: 1.25vw;
    position : fixed;
    right: 0;
    padding-right: 10px;
    color : white;
    margin-top: 0;

}
#icon{
    height : 8vw;
}